flask==3.1.1
requests==2.32.3

prometheus_client==0.20.0

## Don't need these since we're using the Operator's auto-instrumentation
# opentelemetry-distro==0.44b0
# opentelemetry-sdk==1.23.0
# opentelemetry-api==1.23.0
# opentelemetry-exporter-otlp==1.23.0